# Variable

### Create a variable named carname and assign the value Volvo to it.

In [1]:
carname = "Volvo"

In [2]:
carname

'Volvo'

### Create a variable named x and assign the value 50 to it.

In [3]:
x = 50

### Display the sum of 5 + 10, using two variables: x and y.

In [4]:
x = 5
y = 10
print(x + y)

15

### Create a variable called z, assign x + y to it, and display the result.

In [5]:
x = 5
y = 10
z = x + y
print(z)

15

### Remove the illegal characters in the variable name:

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [6]:
x = y = z = "Orange"

### The following code example would print the data type of x, what data type would that be?

In [12]:
x = 0.5
type(x)

float

### The following code example would print the data type of x, what data type would that be?

In [14]:
x = 5
type(x)

int

### The following code example would print the data type of x, what data type would that be?

In [16]:
x = "mohammed"
type(x)

str

### The following code example would print the data type of x, what data type would that be?

In [17]:
x = True
type(x)

bool

### The following code example would print the data type of x, what data type would that be?

In [21]:
x = ["mohammed", "ahmed", "mo"]
print(x)
type(x)

['mohammed', 'ahmed', 'mo']

list

### The following code example would print the data type of x, what data type would that be?

In [23]:
x = None
type(x)

NoneType

### The following code example would print the data type of x, what data type would that be?

In [24]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)
type(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

dict

### Insert the correct syntax to convert x into a floating point number.

In [25]:
x = 5
x = float(x)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [28]:
x = 5.0
x = int(x)
print(x)

5

### Use the len method to print the length of the string.

In [30]:
text = "Hello World!"
length = len(text)
print(length)

12

### Get the first character of the string txt.

In [33]:
txt = "Mohammed"
char = txt[0]
print(char)

M

### Get the characters from index 2 to index 4 (llo).

In [35]:
txt = "mohammed"
str = txt[2:5]
print(str)

ham

### Return the string without any whitespace at the beginning or the end.

In [37]:
x = " Mohammed "
string = x.strip()
print(string)

Mohammed

### Convert the value of txt to upper case.

In [39]:
x = " coding python "
string = x.upper()
print(string)

 CODING PYTHON

### Convert the value of txt to lower case.

In [40]:
x = " CODING PYTHON "
string = x.lower()
print(string)

 coding python

### Replace the character H with a J.

In [41]:
x = " Mohammed "
string = x.replace("h","7")
print(string)

 Mo7ammed

### Using format function to print the age

In [47]:
name = "Mohammed"
age = 21

In [49]:
print("The name is {} and the age is {} years old" .format(name , age))

The name is Mohammed and the age is 21 years old

### The statement below would print a Boolean value, which one?

In [51]:
x = True

In [52]:
type(x)

bool

In [53]:
print(x)

True

### Multiply 10 with 5, and print the result.

In [54]:
z = 10*5
print(z)

50

### Divide 10 by 2, and print the result.

In [55]:
z = 10/2
print(z)

5.0

### Create a list and check if the value in this list or not

In [56]:
list = [10 , 2 , 8 , 50 , 21]

In [58]:
x = 100
if x in list:
    print("the value is in the list")
else:
    print("the value is not in the list")

the value is not in the list

### Use the correct comparison operator to check if 5 is not equal to 10.

In [61]:
if 5 != 10 :
    print(True)
else :
    print(False)

True

### Use the correct logical operator to check if at least one of two statements is True.

In [66]:
x= False
y= False
if x or y:
    print("at least one of two statements is True")
else:
    print("the two statements is False")

the two statements is False

### Print the second item in the fruits list.

In [2]:
f = ["apple", "banana", "cherry"]
print(f[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [3]:
f = ["apple", "banana", "cherry"]
f[0] = "kiwi"
print(f)

['kiwi', 'banana', 'cherry']

###  Use the append method to add "orange" to the fruits list.

In [4]:
f = ['kiwi', 'banana', 'cherry']
f.append("orange")
print(f)

['kiwi', 'banana', 'cherry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [8]:
f = ['kiwi', 'banana', 'cherry']
f.insert(1, "lemon")
print(f)

['kiwi', 'lemon', 'banana', 'cherry']

### Use the remove method to remove "banana" from the fruits list.

In [9]:
f.remove("banana")
print(f)

['kiwi', 'lemon', 'cherry']

### Use negative indexing to print the last item in the list.

In [11]:
print(f[-1])

cherry

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [12]:
f = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
print(f[2:5])

['cherry', 'orange', 'kiwi']

### Use the correct syntax to print the number of items in the list.

In [13]:
f = ['kiwi', 'banana', 'cherry']
print(len(f))

3

### Use the correct syntax to print the first item in the fruits tuple.

In [14]:
f = ("apple", "banana", "cherry")
print(f[0])

apple

### Use the correct syntax to print the number of items in the fruits tuple.

In [15]:
f = ("apple", "banana", "cherry")
print(len(f))

3

### Use the add method to add "orange" to the fruits set.

In [16]:
f = {"apple", "banana", "cherry"}
f.add("orange")
print(f)

{'apple', 'cherry', 'banana', 'orange'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [18]:
f = {"apple", "banana", "cherry"}
more = ["orange", "mango", "grapes"]
f.update(more)
print(f)

{'mango', 'orange', 'apple', 'cherry', 'banana', 'grapes'}

### Use the remove method to remove "banana" from the fruits set.

In [19]:
f = {"apple", "banana", "cherry"}
f.remove("banana")
print(f)

{'apple', 'cherry'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [20]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang

### Change the "year" value from 1964 to 2020.

In [21]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Add the key/value pair "color" : "red" to the car dictionary.

In [22]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [23]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

### Use the clear method to empty the car dictionary.

In [24]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [26]:
a = 3
b = 1

if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

2

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

### Use the correct short hand syntax to write the following conditional expression in one line:

In [33]:
x = lambda str : "even" if len(str)%2 ==0 else "odd"
x("mo")

'even'

### Print i as long as i is less than 6.

In [35]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [34]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### Stop the loop if i is 3.

In [36]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

### In the loop, when i is 3, jump directly to the next iteration.

In [38]:
for i in range(1, 11):
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

### Print a message once the condition is false.

In [42]:
i = 1
while i < 3:
    print(i)
    i += 1
else:
    print("i is not less than 3")

1
2
i is not less than 3

### In the loop, when the item value is "banana", jump directly to the next item.

In [44]:
f = ["apple", "banana", "cherry"]
for x in f:
    if x == "banana":
        continue
    print(x)

apple
cherry

### Use the range function to loop through a code set 6 times.

In [47]:
for i in range(6):
    print(f"loop {i+1}")

loop 1
loop 2
loop 3
loop 4
loop 5
loop 6

### Exit the loop when x is "banana".

In [48]:
f = ["apple", "banana", "cherry"]
for x in f:
    if x == "banana":
        break
    print(x)

apple

### Create a function named my_function.

In [86]:
def my_function():
    print("mohammed")

### Execute a function named my_function.

In [79]:
my_function()

mohammed

### Inside a function with two parameters, print the first parameter.

### Let the function return the x parameter + 5.

In [80]:
def my_function(a, b):
    print(a)

my_function(10 , 21)

10

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [81]:
def my_function(*args):
    for arg in args:
        print(arg)
my_function(1, 2, 3)

1
2
3

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [85]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")


my_function(a=1, b=2, c=3)

a: 1
b: 2
c: 3

### Create a lambda function that takes one parameter (a) and returns it.

In [68]:
f = lambda a: a
f("Mohammed")

'Mohammed'

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [60]:
def primes(n):
    primes = []
    for num in range(2, n + 1):
        prime = True
        for i in range(2, num):
            if num % i == 0:
                prime = False
                break
        if prime:
            primes.append(num)
    return primes
primes(10)

[2, 3, 5, 7]

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [55]:
# do not know the way to answer it

### Write a function to compute the power of a number x raised to the power n using recursion.

In [50]:
def power(x, n):
    if n == 0:
        return 1
    else:
        return x * power(x, n-1)

In [51]:
power(10 , 2)

100