# Salary_Data_Based_country_and_race answer

* the dataset link 
https://www.kaggle.com/datasets/sudheerp2147234/salary-dataset-based-on-country-and-race

In [4]:
import pandas as pd

# Load the data from CSV into a DataFrame
data = pd.read_csv('Salary_Data_Based_country_and_race.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6704 non-null   int64
 1   Age                  6702 non-null   float64
 2   Gender               6702 non-null   object
 3   Education Level      6701 non-null   object
 4   Job Title            6702 non-null   object
 5   Years of Experience  6701 non-null   float64
 6   Salary               6699 non-null   float64
 7   Country              6704 non-null   object
 8   Race                 6704 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 471.5+ KB

In [6]:

# Handling missing values
data.dropna(inplace=True)

# Convert categorical variables into numerical representations, if needed
data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})

# Remove unnecessary columns, if applicable
data.drop('Education Level', axis=1, inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6698 entries, 0 to 6703
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6698 non-null   int64
 1   Age                  6698 non-null   float64
 2   Gender               6684 non-null   float64
 3   Job Title            6698 non-null   object
 4   Years of Experience  6698 non-null   float64
 5   Salary               6698 non-null   float64
 6   Country              6698 non-null   object
 7   Race                 6698 non-null   object
dtypes: float64(4), int64(1), object(3)
memory usage: 471.0+ KB

In [8]:
# Perform data analysis
# Example: Calculate the average salary by country
avg_salary_by_country = data.groupby('Country')['Salary'].mean()

# Print the average salary by country
print(avg_salary_by_country)

Country
Australia    114917.382485
Canada       116556.732830
China        116271.373790
UK           115951.101124
USA          112995.487859
Name: Salary, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Separate the features (independent variables) and target variable (dependent variable)
X = data[['Age', 'Gender', 'Years of Experience']]
y = data['Salary']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Handle missing values in the training and testing sets, if any
imputer = SimpleImputer(strategy='mean')
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Scale the features to a specific range, if needed
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create a linear regression model
model = LinearRegression()

# Train the model using the training data
model.fit(X_train, y_train)

# Predict the target variable for the test data
y_pred = model.predict(X_test)

# Evaluate the model by calculating the mean squared error
mse = mean_squared_error(y_test, y_pred)

# Print the mean squared error
print("Mean Squared Error:", mse)

Mean Squared Error: 943813053.9698886